@counter-style cs-additive-roman {
    system: additive;
    range: 1 100;
    additive-symbols: 100 C, 90 XC, 50 L, 40 XL, 10 X, 9 IX, 5 V, 4 IV, 1 I;
}

ul {
    list-style: cs-additive-roman;
    padding-left: 85px;
}
